[Desktop Entry]
Type=Application
Name=Line Rider Overhaul
Icon=/home/interstellar1/.local/share/lroverhaul/icon.ico
Exec=mono ~/.local/share/lroverhaul/linerider.exe
Categories=Game
