[Desktop Entry]
Type=Application
Name=Line Rider Overhaul
Icon=/home/*/.local/share/lroverhaul/icon.png
Exec=dotnet ~/.local/share/lroverhaul/linerider.dll
Categories=Game
